<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body class="bg-secondary text-white">
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                       <!-- FORM STARTS -->
                       <form action=<%=`/dashboard/edit?_override=PUT&postid=${getPost._id}`%> method="POST">
                        <!-- title-->
                        <div class="mb-3">
                          <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<%=getPost.title%>">
                        </div>
                        
                        <!-- content-->
                        <div class="mb-3">
                            <textarea class="form-control" name="content" rows="3" placeholder="your content here"><%=getPost.content%></textarea>
                          </div>
                        <!-- edit-->
                        <div class="row">
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </div>

                        
                      </form> 

                      <!-- delete-->
                      <form action=<%=`/dashboard/edit?_override=DELETE&postid=${getPost._id}`%> method="POST" class="mt-2">
                        <div class="row">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                      </form>

                      <!-- FORM ENDS-->
                      <a href="/dashboard/posts" class="card-link link-dark">back to dashboard</a>
                      <a href="/" class="card-link link-dark">home</a>
                    </div>
                    
                  </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.js"></script>
</body>
</html>